In [1]:
import pandas as pd
df = pd.read_json('structured_bike_data_cleaned.json')
df

,brand,name,price,rating,mileage,cc,power,type
0,Honda,Honda SP 125,"Rs.89,468 - 1 Lakh*(View On Road Price)",4.5/5,60 kmpl,123.94 cc,10.87 PS,bike
1,Honda,Honda Shine,"Rs.83,251 - 89,772*(View On Road Price)",4.3/5,55 kmpl,123.94 cc,10.74 PS,bike
2,Honda,Honda Hornet 2.0,Rs.1.43 - 1.57 Lakh*(View On Road Price),4.7/5,57.35 kmpl,184.4 cc,17.26 PS,bike
3,Honda,Honda SP160,Rs.1.21 - 1.28 Lakh*(View On Road Price),4.6/5,65 kmpl,162.71 cc,13.46 PS,bike
4,Honda,Honda Hness CB350,Rs.2.11 - 2.16 Lakh*(View On Road Price),4.3/5,45.8 kmpl,348.36 cc,21.07 PS,bike
...,...,...,...,...,...,...,...,...
556,e-Sprinto,e-Sprinto LS,"Rs.76,000 - 82,000*(View On Road Price)",4.0/5,250 W,3-4 Hr,None,bike
557,e-Sprinto,e-Sprinto Roamy,"Rs.54,999*(View On Road Price)",3.7/5,250 W,3-4 Hr,None,bike
558,e-Sprinto,Sprinto HS,"Rs.86,000 - 97,000*(View On Road Price)",5.0/5,800 W,3-4 Hr,None,bike
559,iVOOMi,iVOOMi Jeet X,"Rs.84,999 - 1.05 Lakh*(View On Road Price)",4.7/5,2.1 kW,5.45 Hr,None,bike
560,iVOOMi,iVOOMi S1,"Rs.54,999 - 84,999*(View On Road Price)",4.4/5,1.8 kW,None,None,bike

In [2]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
     -- ------------------------------------- 0.8/11.9 MB 1.8 MB/s eta 0:00:07
     --- ------------------------------------ 1.0/11.9 MB 1.8 MB/s eta 0:00:07
     ----- ---------------------------------- 1.6/11.9 MB 1.7 MB/s eta 0:00:06
     ------- -------------------------------- 2.1/11.9 MB 1.8 MB/s eta 0:00:06
     ------- -------------------------------- 2.4/11.9 MB 1.8 MB/s eta 0:00:06
     --------- ------------------------------ 2.9/11.9 MB 1.8 MB/s eta 0:00:05
     ----------- ---------------------------- 3.4/11.9 MB 2.0 MB/s eta 0:00:05
     ------------- -------------------------- 3.9/11.9 MB 2.0 MB/s eta 0:00:05
     --------------- ------------------------ 4.5/11.9 MB 2.0 MB/s eta 0:00:04
     --------------- ------------------------ 4.5/11.9 MB 2.0 MB/s eta 0:00:04
     --------------- ------------------------ 4.7/11.9 MB 1.8 MB/s eta 0:00:04
     ---------------- ----------------------- 5.0/11.9 MB 1.8 MB/s eta 0:00:04
     ----------------- ---------------------- 5.2/11.9 MB 1.7 MB/s eta 0:00:04
     ------------------ --------------------- 5.5/11.9 MB 1.7 MB/s eta 0:00:04
     ------------------- -------------------- 5.8/11.9 MB 1.6 MB/s eta 0:00:04
     -------------------- ------------------- 6.0/11.9 MB 1.6 MB/s eta 0:00:04
     --------------------- ------------------ 6.3/11.9 MB 1.6 MB/s eta 0:00:04
     ---------------------- ----------------- 6.6/11.9 MB 1.6 MB/s eta 0:00:04
     ----------------------- ---------------- 7.1/11.9 MB 1.6 MB/s eta 0:00:04
     ------------------------ --------------- 7.3/11.9 MB 1.6 MB/s eta 0:00:03
     -------------------------- ------------- 7.9/11.9 MB 1.6 MB/s eta 0:00:03
     --------------------------- ------------ 8.1/11.9 MB 1.6 MB/s eta 0:00:03
     ---------------------------- ----------- 8.4/11.9 MB 1.6 MB/s eta 0:00:03
     ----------------------------- ---------- 8.7/11.9 MB 1.6 MB/s eta 0:00:03
     ------------------------------ --------- 8.9/11.9 MB 1.6 MB/s eta 0:00:02
     ------------------------------ --------- 9.2/11.9 MB 1.6 MB/s eta 0:00:02
     -------------------------------- ------- 9.7/11.9 MB 1.6 MB/s eta 0:00:02
     --------------------------------- ------ 10.0/11.9 MB 1.6 MB/s eta 0:00:02
     ----------------------------------- ---- 10.5/11.9 MB 1.6 MB/s eta 0:00:01
     ------------------------------------ --- 10.7/11.9 MB 1.6 MB/s eta 0:00:01
     -------------------------------------- - 11.3/11.9 MB 1.6 MB/s eta 0:00:01
     -------------------------------------- - 11.5/11.9 MB 1.6 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 1.6 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (pyproject.toml): started
  Building wheel for mysql.connector (pyproject.toml): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp313-cp313-win_amd64.whl size=248050 sha256=7b13868b7c3926a515905e3e417728c5fd96d586c8845fac65c504bfb9931b8b
  Stored in directory: c:\users\eurika\appdata\local\pip\cache\wheels\4e\c1\23\9423c444a75266a05275c80ebf5c6efe2368388e976b690a0f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import mysql.connector
conn = mysql.connector.connect(host='localhost',user='root',password='', database='world')

In [6]:
conn

In [16]:
df = pd.read_sql_query('SELECT * FROM country',conn)
df

C:\Users\eurika\AppData\Local\Temp\ipykernel_14316\2725324214.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query('SELECT * FROM country',conn)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,José Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav Koštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [18]:
df.head(10)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,José Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL
5,AND,Andorra,Europe,Southern Europe,468.0,1278.0,78000,83.5,1630.0,NaN,Andorra,Parliamentary Coprincipality,,55.0,AD
6,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33.0,AN
7,ARE,United Arab Emirates,Asia,Middle East,83600.0,1971.0,2441000,74.1,37966.0,36846.0,Al-Imarat al-´Arabiya al-Muttahida,Emirate Federation,Zayid bin Sultan al-Nahayan,65.0,AE
8,ARG,Argentina,South America,South America,2780400.0,1816.0,37032000,75.1,340238.0,323310.0,Argentina,Federal Republic,Fernando de la Rúa,69.0,AR
9,ARM,Armenia,Asia,Middle East,29800.0,1991.0,3520000,66.4,1813.0,1627.0,Hajastan,Republic,Robert Kotšarjan,126.0,AM

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Code            239 non-null    object
 1   Name            239 non-null    object
 2   Continent       239 non-null    object
 3   Region          239 non-null    object
 4   SurfaceArea     239 non-null    float64
 5   IndepYear       192 non-null    float64
 6   Population      239 non-null    int64
 7   LifeExpectancy  222 non-null    float64
 8   GNP             239 non-null    float64
 9   GNPOld          178 non-null    float64
 10  LocalName       239 non-null    object
 11  GovernmentForm  239 non-null    object
 12  HeadOfState     238 non-null    object
 13  Capital         232 non-null    float64
 14  Code2           239 non-null    object
dtypes: float64(6), int64(1), object(8)
memory usage: 28.1+ KB

In [ ]:
import mysql.connector

conn mysql.connector.connect(host='localhost',user='root',passowrd='',database='world')
pd.read_sql_query('SELECT * From  city',con)

In [1]:
import pandas as pd
import requests

In [8]:
import requests

# Define the API endpoint and your API key
url = 'https://api.themoviedb.org/3/discover/movie'
api_key = '6654d5f31eb6240311b3a8b4148ca6a8'  # Your API key

# Set up the parameters
params = {
    'api_key': api_key,
    'include_adult': 'false',
    'include_video': 'false',
    'language': 'en-US',
    'page': 1,
    'sort_by': 'popularity.desc'
}

# Make the GET request
response = requests.get(url, params=params)

# Check if the request was successful
if response.status_code == 200:
    data = response.json()
    print(data)
else:
    print(f"Error: {response.status_code}, {response.text}")

{'page': 1, 'results': [{'adult': False, 'backdrop_path': '/uIpJPDNFoeX0TVml9smPrs9KUVx.jpg', 'genre_ids': [27, 9648], 'id': 574475, 'original_language': 'en', 'original_title': 'Final Destination Bloodlines', 'overview': 'Plagued by a violent recurring nightmare, college student Stefanie heads home to track down the one person who might be able to break the cycle and save her family from the grisly demise that inevitably awaits them all.', 'popularity': 1160.8402, 'poster_path': '/6WxhEvFsauuACfv8HyoVX6mZKFj.jpg', 'release_date': '2025-05-14', 'title': 'Final Destination Bloodlines', 'video': False, 'vote_average': 7.184, 'vote_count': 850}, {'adult': False, 'backdrop_path': '/6van4BavoNXaZhCPdzLHNQ4Uc8H.jpg', 'genre_ids': [53, 28], 'id': 1087891, 'original_language': 'en', 'original_title': 'The Amateur', 'overview': 'After his life is turned upside down when his wife is killed in a London terrorist attack, a brilliant but introverted CIA decoder takes matters into his own hands when his supervisors refuse to take action.', 'popularity': 493.4736, 'poster_path': '/SNEoUInCa5fAgwuEBMIMBGvkkh.jpg', 'release_date': '2025-04-09', 'title': 'The Amateur', 'video': False, 'vote_average': 6.907, 'vote_count': 524}, {'adult': False, 'backdrop_path': '/wnnu8htEZBLtwrke9QYfLKx6zjp.jpg', 'genre_ids': [53, 18, 80], 'id': 1426776, 'original_language': 'en', 'original_title': 'STRAW', 'overview': 'What will be her last straw? A devastatingly bad day pushes a hardworking single mother to the breaking point — and into a shocking act of desperation.', 'popularity': 458.5632, 'poster_path': '/t3cmnXYtxJb9vVL1ThvT2CWSe1n.jpg', 'release_date': '2025-06-05', 'title': 'STRAW', 'video': False, 'vote_average': 8.097, 'vote_count': 486}, {'adult': False, 'backdrop_path': '/7Zx3wDG5bBtcfk8lcnCWDOLM4Y4.jpg', 'genre_ids': [10751, 878, 35, 12], 'id': 552524, 'original_language': 'en', 'original_title': 'Lilo & Stitch', 'overview': 'The wildly funny and touching story of a lonely Hawaiian girl and the fugitive alien who helps to mend her broken family.', 'popularity': 411.1899, 'poster_path': '/A89x10Eqt43bPFEWPpbraWwkaFr.jpg', 'release_date': '2025-05-17', 'title': 'Lilo & Stitch', 'video': False, 'vote_average': 7.1, 'vote_count': 651}, {'adult': False, 'backdrop_path': '/yBDvgpyynDsbMyK21FoQu1c2wYR.jpg', 'genre_ids': [9648, 80, 53], 'id': 870028, 'original_language': 'en', 'original_title': 'The Accountant²', 'overview': 'When an old acquaintance is murdered, Wolff is compelled to solve the case. Realizing more extreme measures are necessary, Wolff recruits his estranged and highly lethal brother, Brax, to help. In partnership with Marybeth Medina, they uncover a deadly conspiracy, becoming targets of a ruthless network of killers who will stop at nothing to keep their secrets buried.', 'popularity': 310.9376, 'poster_path': '/kMDUS7VmFhb2coRfVBoGLR8ADBt.jpg', 'release_date': '2025-04-23', 'title': 'The Accountant²', 'video': False, 'vote_average': 7.22, 'vote_count': 821}, {'adult': False, 'backdrop_path': '/a3F9cXjRH488qcOqFmFZwqawBMU.jpg', 'genre_ids': [16, 28, 878], 'id': 1376434, 'original_language': 'en', 'original_title': 'Predator: Killer of Killers', 'overview': 'While three of the fiercest warriors in human history—a Viking raider, a ninja in feudal Japan, and a WWII pilot—are killers in their own right, they are merely prey for their new opponent: the ultimate killer of killers.', 'popularity': 369.2901, 'poster_path': '/2XDQa6EmFHSA37j1t0w88vpWqj9.jpg', 'release_date': '2025-06-05', 'title': 'Predator: Killer of Killers', 'video': False, 'vote_average': 7.988, 'vote_count': 531}, {'adult': False, 'backdrop_path': '/7HqLLVjdjhXS0Qoz1SgZofhkIpE.jpg', 'genre_ids': [28, 10751, 14], 'id': 1087192, 'original_language': 'en', 'original_title': 'How to Train Your Dragon', 'overview': 'On the rugged isle of Berk, where Vikings and dragons have been bitter enemies for generations, Hiccup stands apart, defying centuries of tradition when he befriends Toothless, a feared Night Fury dragon. Their unlikely bond reveals the true nature of dragons, challenging the very foundations of Viking society.', 'popularity': 335.7287, 'poster_path': '/q5pXRYTycaeW6dEgsCrd4mYPmxM.jpg', 'release_date': '2025-06-06', 'title': 'How to Train Your Dragon', 'video': False, 'vote_average': 8.0, 'vote_count': 262}, {'adult': False, 'backdrop_path': '/79tWkw0oc4Az96bzw5jGsMI05DS.jpg', 'genre_ids': [9648, 53, 28, 878], 'id': 1379587, 'original_language': 'en', 'original_title': 'Utopia', 'overview': "A soldier searching for his missing wife breaks into a high-tech facility, believing she's been caught in a human trafficking ring. But beyond its walls, he finds a surreal, futuristic fantasy park where reality and illusion blur. As he navigates this seductive and dangerous world, a shocking truth pulls him deeper into a deadly game where nothing is as it seems.", 'popularity': 299.3717, 'poster_path': '/yef0tY1Nw3BX8PJTfBLieqHj5Hw.jpg', 'release_date': '2024-12-09', 'title': 'Utopia', 'video': False, 'vote_average': 5.136, 'vote_count': 33}, {'adult': False, 'backdrop_path': '/eRNMOrA6Bigonug3dT1R7aLZQaq.jpg', 'genre_ids': [28], 'id': 1240475, 'original_language': 'zh', 'original_title': '缉恶', 'overview': 'The film tells the story of narcotics police officer Huang Mingjin and the "mysterious figure" Wei Yunzhou. Through completely different means and methods, in the process of calculating and wrestling with each other, they tear apart the facade of urban tranquility, exposing the underground drug network woven by the hidden hand "Long Wang", and ultimately eradicate the darkness with the sword of justice, revealing the dawn of light.', 'popularity': 284.9678, 'poster_path': '/m5UBHbEjQJx3AkRZWRY6A4l4ZDT.jpg', 'release_date': '2024-02-12', 'title': 'Hunt the Wicked', 'video': False, 'vote_average': 4.8, 'vote_count': 6}, {'adult': False, 'backdrop_path': '/lOje1iz4VYWELYWRkZAwI7oIJd0.jpg', 'genre_ids': [28, 35, 80], 'id': 1239193, 'original_language': 'en', 'original_title': 'Deep Cover', 'overview': 'Kat is an improv comedy teacher beginning to question if she’s missed her shot at success. When an undercover cop offers her the role of a lifetime, she recruits two of her students to infiltrate London’s gangland by impersonating dangerous criminals.', 'popularity': 276.3244, 'poster_path': '/euM8fJvfH28xhjGy25LiygxfkWc.jpg', 'release_date': '2025-06-12', 'title': 'Deep Cover', 'video': False, 'vote_average': 6.8, 'vote_count': 122}, {'adult': False, 'backdrop_path': '/8SaEH4kYCy7JlviyhKtSVsMkt4r.jpg', 'genre_ids': [28, 53], 'id': 1315988, 'original_language': 'es', 'original_title': 'Mikaela', 'overview': 'During the eve of the 6th of January, a record-breaking snowstorm sweeps across Spain. In the midst of its chaos, a group of robbers seizes the opportunity to hijack an armoured van. A few meters away is Leo, a finished policeman who has nothing to lose. With the unexpected aid of a young woman, he will try to stop the band from running away with their loot.', 'popularity': 202.1852, 'poster_path': '/xG8olkWOmoW78GbozKbS2UxYGEo.jpg', 'release_date': '2025-01-31', 'title': 'Mikaela', 'video': False, 'vote_average': 6.25, 'vote_count': 48}, {'adult': False, 'backdrop_path': '/rU9kRB3rBU5O7AMReZCiuIy7zmE.jpg', 'genre_ids': [28, 18, 12], 'id': 1450599, 'original_language': 'fr', 'original_title': 'K.O.', 'overview': 'A former fighter must find the missing son of an opponent he accidentally killed years ago, taking on a brutally violent crime gang in Marseille.', 'popularity': 197.0575, 'poster_path': '/qcM2sUiAeP4zXwx4ADSvgc9S58k.jpg', 'release_date': '2025-06-05', 'title': 'K.O.', 'video': False, 'vote_average': 6.66, 'vote_count': 119}, {'adult': False, 'backdrop_path': '/7TIoq6DRnMn2aDViSRfPooWZkga.jpg', 'genre_ids': [28, 18, 53], 'id': 1289601, 'original_language': 'en', 'original_title': 'Life After Fighting', 'overview': 'Retired martial arts world champion Alex Faulkner has settled into a simple life, when the disappearance of two of his students leads to an unthinkable discovery close to home. Just when all hope of finding the children is lost, he locates the imprisoned girls and unsurfaces an international child trafficking operation, which draws him back into the fight of his life against those behind it.', 'popularity': 233.114, 'poster_path': '/uKWAk4BHzyEOMmLKUDXoIAPhH36.jpg', 'release_date': '2024-06-07', 'title': 'Life After Fighting', 'video': False, 'vote_average': 6.944, 'vote_count': 36}, {'adult': False, 'backdrop_path': '/nAxGnGHOsfzufThz20zgmRwKur3.jpg', 'genre_ids': [27, 53, 14], 'id': 1233413, 'original_language': 'en', 'original_title': 'Sinners', 'overview': 'Trying to leave their troubled lives behind, twin brothers return to their hometown to start again, only to discover that an even greater evil is waiting to welcome them back.', 'popularity': 223.5231, 'poster_path': '/zrYk9fEhhnNTptnhFeyyFIUBu5d.jpg', 'release_date': '2025-04-16', 'title': 'Sinners', 'video': False, 'vote_average': 7.569, 'vote_count': 1514}, {'adult': False, 'backdrop_path': '/mO9oOVXM8tTlC11VFM4FBBNnL3f.jpg', 'genre_ids': [28, 80, 18, 53, 35], 'id': 1017163, 'original_language': 'ko', 'original_title': '범죄도시 4', 'overview': "'Monster Cop' Ma Seok-do investigates an illegal online gambling business led by a former STS Baek and an IT genius CEO Chang. Ma proposes an unexpected alliance to Jang and begins hunting down the criminals.", 'popularity': 221.2391, 'poster_path': '/yk38mNoJpsswmk9o7i7eLhO4mc.jpg', 'release_date': '2024-04-24', 'title': 'The Roundup: Punishment', 'video': False, 'vote_average': 6.831, 'vote_count': 139}, {'adult': False, 'backdrop_path': '/8CVlB19seZnYVDxGvTK5gU7xj9y.jpg', 'genre_ids': [10751, 12], 'id': 1225916, 'original_language': 'pt', 'original_title': '3ão: Uma História Sem Fim', 'overview': "This movie is a gift for the 2023 ESCA high school third-year students. Despite a challenging year, we know it wasn't all about studying and sadness...", 'popularity': 187.5426, 'poster_path': '/ghNV52iBTQgtkd0nFZkAyvngCbr.jpg', 'release_date': '2023-12-11', 'title': '3ão: An Endless Story', 'video': False, 'vote_average': 8.375, 'vote_count': 4}, {'adult': False, 'backdrop_path': '/2Nti3gYAX513wvhp8IiLL6ZDyOm.jpg', 'genre_ids': [10751, 12, 35, 14], 'id': 950387, 'original_language': 'en', 'original_title': 'A Minecraft Movie', 'overview': "Four misfits find themselves struggling with ordinary problems when they are suddenly pulled through a mysterious portal into the Overworld: a bizarre, cubic wonderland that thrives on imagination. To get back home, they'll have to master this world while embarking on a magical quest with an unexpected, expert crafter, Steve.", 'popularity': 183.0392, 'poster_path': '/yFHHfHcUgGAxziP1C3lLt0q2T4s.jpg', 'release_date': '2025-03-31', 'title': 'A Minecraft Movie', 'video': False, 'vote_average': 6.5, 'vote_count': 1801}, {'adult': False, 'backdrop_path': '/6YaTxghwL1HFBjcj43UHlP3zv5P.jpg', 'genre_ids': [12, 16, 10751], 'id': 666154, 'original_language': 'en', 'original_title': 'Kayara', 'overview': 'A courageous and athletic teenager, Kayara dreams that she is destined to be the first female to break into the league of Chasquis - the official messengers of the Incan empire. As she learns what it takes to be a Chasqui along with its challenges, she tackles every mission she gets and discovers the ancient stories of her land and her people.', 'popularity': 186.4767, 'poster_path': '/tpZdjnoJ6Z3NsSxI6HjAIggrcEv.jpg', 'release_date': '2025-01-02', 'title': 'Kayara', 'video': False, 'vote_average': 7.6, 'vote_count': 46}, {'adult': False, 'backdrop_path': '/sItIskd5xpiE64bBWYwZintkGf3.jpg', 'genre_ids': [28, 53, 80], 'id': 541671, 'original_language': 'en', 'original_title': 'Ballerina', 'overview': 'Taking place during the events of John Wick: Chapter 3 – Parabellum, Eve Macarro begins her training in the assassin traditions of the Ruska Roma.', 'popularity': 153.7941, 'poster_path': '/mKp4euM5Cv3m2U1Vmby3OGwcD5y.jpg', 'release_date': '2025-06-04', 'title': 'Ballerina', 'video': False, 'vote_average': 7.083, 'vote_count': 309}, {'adult': False, 'backdrop_path': '/aEG09hZZEDZ23Y9WYI701W6Gwnb.jpg', 'genre_ids': [28, 12, 53], 'id': 575265, 'original_language': 'en', 'original_title': 'Mission: Impossible - The Final Reckoning', 'overview': "Ethan Hunt and team continue their search for the terrifying AI known as the Entity — which has infiltrated intelligence networks all over the globe — with the world's governments and a mysterious ghost from Hunt's past on their trail. Joined by new allies and armed with the means to shut the Entity down for good, Hunt is in a race against time to prevent the world as we know it from changing forever.", 'popularity': 127.6214, 'poster_path': '/z53D72EAOxGRqdr7KXXWp9dJiDe.jpg', 'release_date': '2025-05-17', 'title': 'Mission: Impossible - The Final Reckoning', 'video': False, 'vote_average': 7.155, 'vote_count': 793}], 'total_pages': 50982, 'total_results': 1019634}

In [4]:
data.json()

{'message': 'Invalid API key. Go to https://docs.rapidapi.com/docs/keys for more info.'}

In [11]:
import pandas as pd
import requests


response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=6654d5f31eb6240311b3a8b4148ca6a8&include_adult=false&include_video=false&language=en-US&page=1&sort_by=popularity.desc')

In [ ]:
response.json()['results']

AttributeError: 'list' object has no attribute 'shape'

In [ ]:
pd.DataFrame(response.json()['results'])[['id','adult','original_language','original_title','popularity','title','vote_average','vote_count']]

,id,adult,original_language,original_title,popularity,title,vote_average,vote_count
0,574475,False,en,Final Destination Bloodlines,1160.8402,Final Destination Bloodlines,7.184,850
1,1087891,False,en,The Amateur,493.4736,The Amateur,6.907,524
2,1426776,False,en,STRAW,458.5632,STRAW,8.097,486
3,552524,False,en,Lilo & Stitch,411.1899,Lilo & Stitch,7.100,651
4,870028,False,en,The Accountant²,310.9376,The Accountant²,7.220,821
5,1376434,False,en,Predator: Killer of Killers,369.2901,Predator: Killer of Killers,7.988,531
6,1087192,False,en,How to Train Your Dragon,335.7287,How to Train Your Dragon,8.000,262
7,1379587,False,en,Utopia,299.3717,Utopia,5.136,33
8,1240475,False,zh,缉恶,284.9678,Hunt the Wicked,4.800,6
9,1239193,False,en,Deep Cover,276.3244,Deep Cover,6.800,122
10,1315988,False,es,Mikaela,202.1852,Mikaela,6.250,48
11,1450599,False,fr,K.O.,197.0575,K.O.,6.660,119
12,1289601,False,en,Life After Fighting,233.1140,Life After Fighting,6.944,36
13,1233413,False,en,Sinners,223.5231,Sinners,7.569,1514
14,1017163,False,ko,범죄도시 4,221.2391,The Roundup: Punishment,6.831,139
15,1225916,False,pt,3ão: Uma História Sem Fim,187.5426,3ão: An Endless Story,8.375,4
16,950387,False,en,A Minecraft Movie,183.0392,A Minecraft Movie,6.500,1801
17,666154,False,en,Kayara,186.4767,Kayara,7.600,46
18,541671,False,en,Ballerina,153.7941,Ballerina,7.083,309
19,575265,False,en,Mission: Impossible - The Final Reckoning,127.6214,Mission: Impossible - The Final Reckoning,7.155,793

Empty DataFrame
Columns: []
Index: []

In [ ]:
import pandas as pd
import requests
df = pd.DataFrame()

for i in range(1,50981):
    response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=6654d5f31eb6240311b3a8b4148ca6a8&include_adult=false&include_video=false&language=en-US&page=1&sort_by=popularity.desc'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','adult','original_language','original_title','popularity','title','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [14]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [12]:
webpage = requests.get('https://www.uetmardan.edu.pk/uetm/')

In [15]:
soup =BeautifulSoup(webpage,'lxml')

TypeError: object of type 'Response' has no len()

In [17]:
import requests
from bs4 import BeautifulSoup

# Make the request
response = requests.get('https://www.uetmardan.edu.pk/uetm/')

# Check if the request was successful
if response.status_code == 200:
    # Pass the content of the response to BeautifulSoup
    soup = BeautifulSoup(response.text, 'lxml')
else:
    print(f"Error: {response.status_code}")

In [23]:
for i in soup.find_all('h2'):
    print(i.text)

Admissions Open in Advanced Technological Degree Programs

            University OF Engineering & Technology Mardan is an emerging public sector university recognized by PEC & HEC
Recent Events
News & Notifications
UETM AT A GLANCE

In [ ]:
for i in soup.find_all('p'):
    print(i.text)

In [28]:
soup.find_all('tbody')

[]